[submodule "api_gateway/protos"]
	path = api_gateway/protos
	url = git@github.com:ravshancoder/protos.git
[submodule "comment_service/protos"]
	path = comment_service/protos
	url = git@github.com:ravshancoder/protos.git
[submodule "post_service/protos"]
	path = post_service/protos
	url = git@github.com:ravshancoder/protos.git
[submodule "user_service/protos"]
	path = user_service/protos
	url = git@github.com:ravshancoder/protos.git
